.footer {
  background-color: #002550;
  color: white;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 90%;
    .f1 {
      //background-color: red;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 90%;
      .img-wrapper {
        img {
          height: 100px;
          width: 100px;
        }
      }
      .company {
        height: 100%;
      }
      .support {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        .sup {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            margin-right: 20px;
          }
        }
      }
    }
    .f2 {
      width: 100%;
      height: 10%;
      //background-color: red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .handle {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          p {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.f-header {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
.comp-links {
  font-size: 20px;
}
.comp-links-1 {
  font-size: 20px;
  margin: 0;
}
.comp-links-2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}
.thisHere {
  text-decoration: none;
  color: white;
  &:visited {
    color: white; /* Or any other color value you prefer */
  }
  &:hover {
    color: rgb(139, 132, 132);
  }
}
